### General ###
*.jar
*.hprof

### Eclipse ###
.classpath
.project
.settings/
bin/

### Intellij ###
*.idea/*
*.idea*
*.iml

### Maven ###
target/*
/target/
Jenkinsfile
Jenkinsfile_Release
Jenkinsfile_Github_Release

